# Node
node_modules/

# Python leftovers
**/requirements.txt

# Build
dist/
build/

# Terraform
infra/terraform/**/.terraform/
infra/terraform/**/terraform.tfstate*
infra/terraform/**/qa1/

# Ignorar apps dentro de apps
/apps/*/app/

# No ignorar web/app
!/web/app/
