# Node
node_modules/

# Python leftovers
**/app/
**/requirements.txt

# Build
dist/
build/

# Temporary / experiments
notifications-service/

infra/terraform/**/.terraform/
infra/terraform/**/terraform.tfstate*
